<%- include('./partials/header.ejs'); -%>

<div class="container">
    <div class="fond"> <span class="s1">blog </span><span class="s2">card</span></div>

    <form action="/blogs" method="POST">
        <div class="card">
            <div class="thumbnail">
                <img class="left default-img" src="https://cdn.pixabay.com/photo/2015/02/03/23/41/paper-623167__340.jpg" />
            <div class="field input-img">
                <!-- <label>Image</label> -->
                <input class="input-img" type="text" name="blog[image]" placeholder="Enter image url">
            </div>
        </div>

            <div class="content"> 
                <div class="field">
                    <!-- <label">Title</label> -->
                    <input type="text" name="blog[title]" placeholder="Blog Title" required="required">
                </div>
                <div class="separator"></div>
                <div class="field">
                    <!-- <label>Blog Description</label> -->
                    <textarea name="blog[body]" cols="30" rows="10" required="required" placeholder="Add your blog content here..."></textarea>
                </div>
            </div>
            
            <ul>
                <li><i class="fa fa-eye fa-2x"></i></li>
                <li><i class="fa fa-heart-o fa-2x"></i></li>
                <li><i class="fa fa-share-alt fa-2x"></i></li>
            </ul>
            <!-- <input type="submit" class="ui violet big basic button"> -->
            <a href="/blogs" class="fab"><button type="submit"><i class="fa fa-save fa-3x"> </i></a>
        
        </div>
    </form>

</div>

<%- include('./partials/footer.ejs'); -%>
