/* .fab{
    width: 60px;
	height: 60px;
} */
.fab-edit {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 100px;
	bottom: -33px;
	background-color: red;
	/* width: 70px;
	height: 70px;
	color: white;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75); */
}
.fab-delete{
	width: 60px;
	height: 60px;
    position: absolute;
	right: 30px;
    bottom: -33px;
	background-color: green;
}
.fa-2x{
	font-weight: 400;
}