.card {
	height:auto;
	min-height: 90em;
}

.fab-edit {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 100px;
	bottom: -33px;
	background-color: red;
}

.fab-delete {
	width: 60px;
	height: 60px;
    position: absolute;
	right: 30px;
    bottom: -33px;
	background-color: green;
	padding-top: 0;
    font-size: 16px;
}

.fa-2x {
	font-weight: 400;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

